<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.cloud.dao.UserMapper">
 
  <select id="sumCurrentSubject" resultType="java.lang.Integer">
		SELECT 
		  IFNULL(SUM(amount),0)
		FROM
		  journalizing_info 
		WHERE item_id = #{id}
		  AND company_id = #{companyId}
		  AND TYPE = #{type} 
		  AND data_source = #{datasource} 
		  AND occurrence_time BETWEEN #{startDate}
		  AND #{endDate} 
  </select>
  
  <select id="sumContainChildrenSubject" resultType="java.lang.Integer">
		SELECT 
		  IFNULL(SUM(amount),0) 
		FROM
		  journalizing_info 
		WHERE item_code LIKE (SELECT item_code FROM journalizing_info WHERE item_id=#{id} LIMIT 1)||'%' 
		  AND company_id = #{companyId}
		  AND TYPE = #{type} 
		  AND data_source = #{datasource} 
		  AND occurrence_time BETWEEN #{startDate}
		  AND #{endDate}  
  </select>
 
</mapper>